.ex-1-square:hover{
    background-color: red;
    transition: 2s;
}

.ex-2-square:active{
    width: 100%;
    transition: 2s;
    Transition-timing-function:ease;
}

.ex-3-square:hover{
    border-radius: 100%;
    transition:1s;
}

.ex-4-square:hover{
    opacity: 0;
    transition: 2s;
}
