.ex-1-square:hover{
    background-color: red;
    transition: 2s;
}

.ex-2-square:active{
    width: 100%;
    transition: 2s;
    Transition-timing-function:ease;
}

.ex-3-square:hover{
    border-radius: 100%;
    transition:1s;
}

.ex-4-square:hover{
    opacity: 0;
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(2);
    transition: 1s;
}
.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter: grayscale(1) sepia(0.5);
    transition: 1s;
}

.ex-8-img:hover{
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
    transition: 1s;
}

.ex-9-img:hover{
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
    transform: scale(1.5);
    transition: 2s;
}

.ex-10-icon{
    animation: gira 1s infinite linear;
}

@keyframes gira{
    0%{
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover{
    animation: gira75 1s ease-in;
}

@keyframes gira75{
    0%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(270deg);
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: topRight 2s linear 
}

@keyframes topRight{
    50%{
        left: calc(200px - 65px)
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: bottomLeft 2s linear 
}

@keyframes bottomLeft{
    50%{
        right: calc(200px - 65px)
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: roteateTop 2s linear;
}

@keyframes roteateTop{
    0% {
        top:-10px;
        left:10%
    }

    20%{
        left:150px;
        top:-10px;
    }
    30%{
        left: 150px;
        top:60px;
    }
    40%{
        left:-10px;
        top:60px;
    }

    60%{
        left:-10px;

    }
    80% {
        left:-10px;
    }

    90%{
        left: -10px;
        top:-10px
    }

    100%{
        
    }
}
.ex-13-button:hover .ex-13-bottom-white{
    animation: roteateBottom 2s linear;
    background-color: aqua;
}
@keyframes roteateBottom{

    0%{
        right:20%;
        bottom:-10px;
    }

    20%{
        transition-duration: 1s;
        right:150px
    }

    40%{
        transition-duration: 1s;
        right:150px;
        top:0;
    }
    
    40%{
        top:-10px;
    }

    60%{
        transition-duration: 1s;
        top:-10px;
        right:-50px;
    }

    80%{
        right:-50px;
        bottom:-10px;
    }

}