.ex-1-square:hover{
    background-color: red;
    transition: 2s;
}

.ex-2-square:active{
    width: 100%;
    transition: 2s;
    Transition-timing-function:ease;
}

.ex-3-square:hover{
    border-radius: 100%;
    transition:1s;
}

.ex-4-square:hover{
    opacity: 0;
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(2);
    transition: 1s;
}
.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter: grayscale(1) sepia(0.5);
    transition: 1s;
}

.ex-8-img:hover{
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
    transition: 1s;
}

.ex-9-img:hover{
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
    transform: scale(1.5);
    transition: 2s;
}

.ex-10-icon{
    animation: gira 1s infinite linear;
}

@keyframes gira{
    0%{
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover{
    animation: gira75 ease-in;
}

@keyframes gira75{
    0%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(270deg);
    }
}